extends layout

block content
    div#app.row
        div.col-12#date-setting
            div.form-group
                label(for="#date-picker") Chọn ngày hiển thị:
                input(type="text")#date-picker
                button(v-on:click='changeDate()')#date-submit Submit
            h3  Dữ liệu ngày {{ dateStr }}

        div(v-for="bkd in bkds").col-lg-5.col-xs-12
            div.board-container
                div.text-right
                    span(v-on:click='deleteBKD(bkd.BoardID)').board-delete
                h1.board-heading PRODUCTION CONTROLLER
                table.board-table-heading
                    tr
                        td DATE
                            span.value  {{ bkd.date }}
                        td.text-right LINE
                            span.value  {{ bkd.BoardID }}
                table.board
                    tr
                        td KẾ HOẠCH SẢN XUẤT <br> <strong>TARGET</strong>
                        td
                            div.value-container
                                span.value {{ bkd.MThientai }}
                                span  Pcs
                    tr
                        td SẢN LƯỢNG HIỆN TẠI <br> <strong>ACTUAL</strong>
                        td
                            div.value-container
                                span.value {{ bkd.SLThucte }}
                                span  Pcs
                    tr
                        td CHÊNH LỆCH <br> <strong>BALANCE</strong>
                        td
                            div.value-container
                                span.value {{ displayChenhLech(bkd.MThientai, bkd.SLThucte) }}
                                span  Pcs
                    tr
                        td HIỆU SUẤT (%) <br> <strong>PERFORMANCE</strong>
                        td
                            div.value-container
                                span.value {{ displayHieuSuat(bkd.MThientai, bkd.SLThucte) }}
                                span &nbsp;&nbsp;&nbsp;%
            a(:href="'/history/export?BoardID=' + bkd.BoardID + '&date=' + dateStr").btn.btn-success.mb-1 Xuất dữ liệu

    script.
        var socket = io()
        var app = new Vue({
            el: '#app',
            data: {
                dateStr: moment().format('D/M/Y'),
                bkds: []
            },

            methods: {
                changeDate: function () {
                    let dateValue = $('#date-picker').val();
                    app.dateStr = moment(dateValue, 'D/M/Y').format('D/M/Y');

                    socket.emit('get bkds-history', app.dateStr);
                },

                deleteBKD: function (BoardID) {
                    if (confirm('Đồng ý xóa bảng này?')) {
                        socket.emit('delete bkds-history', {date: app.dateStr, BoardID: BoardID})
                    }
                },

                displayChenhLech: function (hienTai, thucTe) {
                    return hienTai - thucTe
                },

                displayHieuSuat: function (hienTai, thucTe) {
                    return Math.round((parseInt(thucTe) * 100) / parseInt(hienTai))
                }
            }
        })

        socket.on('connect', function () {
            console.log('connected')
            socket.emit('get bkds-history', app.dateStr)
        })

        socket.on('disconnect', function () {
            console.log('disconnected')
        })

        socket.on('set bkds-history', function (bkds) {
            app.bkds = bkds
        })

        socket.on('bkds-history updated', function () {
            socket.emit('get bkds-history', app.dateStr)
        })

        $('#date-picker').datepicker({
            format: "dd/mm/yyyy",
            language: "vi"
        });