extends layout

block content
    div#app.row
        div(v-for="bcon in bcons").col-12
            table.bcon
                tr
                    th ID {{ bcon.BoardID }}
                    th(colspan=4) Giá trị hiện tại
                    th(colspan=4).yellow Tham số cài đặt
                        div.float-right
                            span(v-on:click='deleteBcon(bcon.BoardID)').board-delete
                tr
                    th TT Trạm
                    th Sản lượng
                    th Trạng thái đèn
                    th Tổng phát sinh đèn đỏ
                    th Tổng phát sinh đèn vàng
                    th.yellow Cycle time (giây)
                    th.yellow Cycle đèn vàng
                    th.yellow Cycle đèn đỏ
                    th.yellow
                tr(v-for="lamp in bcon.lamps")
                    td {{ lamp.TT }}
                    td {{ lamp.SLThucte }}
                    td(:class="'lamp-color' + lamp.Light").lamp-color
                        span
                    td {{ lamp.CountR }}
                    td {{ lamp.CountY }}
                    td.yellow
                        span.mr-2 {{ lamp.CytSet }}
                        input(type='number', :id="'CytSet' + lamp.TT")
                    td.yellow
                        span.mr-2 {{ lamp.CytYell }}
                        input(type='number', :id="'CytYell' + lamp.TT")
                    td.yellow
                        span.mr-2 {{ lamp.CytRed }}
                        input(type='number', :id="'CytRed' + lamp.TT")
                    td.yellow
                        button(v-on:click='submitCyt(lamp.TT, bcon.BoardID)') Set

    script.
        var socket = io()
        var app = new Vue({
            el: '#app',
            data: {
                bcons: {}
            },
            methods: {
                submitCyt: function (TT, BoardID) {
                    let setElem = $('#CytSet' + TT);
                    let yellElem = $('#CytYell' + TT);
                    let redElem = $('#CytRed' + TT);

                    let CytSet = setElem.val();
                    let CytYell = yellElem.val();
                    let CytRed = redElem.val();

                    let bcon = {}
                    bcon.BoardID = BoardID;
                    bcon['CytSet' + TT] = CytSet;
                    bcon['CytYell' + TT] = CytYell;
                    bcon['CytRed' + TT] = CytRed;
                    socket.emit('update bcon', bcon);

                    setElem.val('');
                    yellElem.val('');
                    redElem.val('');
                },

                deleteBcon: function (BoardID) {
                    if (confirm('Đồng ý xóa bảng này?')) {
                        socket.emit('delete bcon', BoardID)
                    }
                }
            }
        })

        socket.on('connect', function () {
            console.log('connected')
            socket.emit('get bcons')
        })

        socket.on('bcons updated', function () {
            console.log('bcons updated')
            socket.emit('get bcons')
        })

        socket.on('set bcons', function (bcons) {
            console.log(bcons)
            app.bcons = bcons
        })

