extends layout

block content
    div#app.row
        div(v-for="bcon in bcons").col-12
            table.bcon
                tr
                    th ID {{ bcon.BoardID }}
                    th(colspan=4) Giá trị hiện tại
                    th(colspan=4).yellow Tham số cài đặt
                tr
                    th TT Trạm
                    th Sản lượng
                    th Trạng thái đèn
                    th Tổng phát sinh đèn đỏ
                    th Tổng phát sinh đèn vàng
                    th.yellow Cycle time (giây)
                    th.yellow Cycle đèn vàng
                    th.yellow Cycle đèn đỏ
                    th.yellow
                tr(v-for="lamp in bcon.lamps")
                    td {{ lamp.TT }}
                    td {{ lamp.SLThucte }}
                    td(:class="'lamp-color' + lamp.Light").lamp-color
                        span
                    td {{ lamp.CountR }}
                    td {{ lamp.CountY }}
                    td.yellow
                        input(type='number', :value="lamp.CytSet", :id="'CytSet' + lamp.TT")
                    td.yellow
                        input(type='number', :value="lamp.CytYell", :id="'CytYell' + lamp.TT")
                    td.yellow
                        input(type='number', :value="lamp.CytRed", :id="'CytRed' + lamp.TT")
                    td.yellow
                        button(v-on:click='submitCyt(lamp.TT, bcon.BoardID)') Set

    script.
        var socket = io()
        var app = new Vue({
            el: '#app',
            data: {
                bcons: {}
            },
            methods: {
                submitCyt: function (TT, BoardID) {
                    let CytSet = $('#CytSet' + TT).val();
                    let CytYell = $('#CytYell' + TT).val();
                    let CytRed = $('#CytRed' + TT).val();

                    let bcon = {}
                    bcon.BoardID = BoardID;
                    bcon['CytSet' + TT] = CytSet;
                    bcon['CytYell' + TT] = CytYell;
                    bcon['CytRed' + TT] = CytRed;
                    socket.emit('update bcon', bcon);
                }
            }
        })

        socket.on('connect', function () {
            console.log('connected')
            socket.emit('get bcons')
        })

        socket.on('set bcons', function (bcons) {
            console.log(bcons)
            app.bcons = bcons
        })