extends layout

block content
    div#app
        div.board-container
            table.board
                tr
                    td MỤC TIÊU NGÀY
                    td
                        span.value 0
                tr
                    td MỤC TIÊU HIỆN TẠI
                    td
                        span.value 0
                tr
                    td SẢN LƯỢNG THỰC TẾ
                    td
                        span.value 0
                tr
                    td CHÊNH LỆCH
                    td
                        span.value 0
                tr
                    td HIỆU SUẤT (%)
                    td
                        span.value 0
                        span  %

    script.
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })

        var socket = io();
        socket.on('connection', function (data) {
            console.log('connected');
        });

        socket.on('disconnect', function (data) {
            console.log('disconnected');
        });