extends layout

block content
    div#app.row
        div(v-for="bkd in bkds").col-5
            div.board-container
                div.text-right
                    span(v-on:click='deleteBKD(bkd.BoardID)').board-delete
                table.board
                    tr
                        td ID
                        td
                            span.value {{ bkd.BoardID }}
                    tr
                        td MỤC TIÊU NGÀY
                        td
                            span.value {{ bkd.MTNgay }}
                    tr
                        td MỤC TIÊU HIỆN TẠI
                        td
                            span.value {{ bkd.MThientai }}
                    tr
                        td SẢN LƯỢNG THỰC TẾ
                        td
                            span.value {{ bkd.SLThucte }}
                    tr
                        td TỈ LỆ (%)
                        td
                            span.value {{ displayChenhLech(bkd.MThientai, bkd.SLThucte) }}
                            span  %
                    tr
                        td HIỆU SUẤT (%)
                        td
                            span.value {{ displayHieuSuat(bkd.SLThucte, bkd.MTNgay) }}
                            span  %
            div
                table#bkd-setting
                    tr
                        td  Cycle (giây): {{ bkd.CycleTime }}
                            span.mr-2
                            input(type='number', :id="'CycleTime' + bkd.BoardID")
                        td
                            button(v-on:click='submitCycleTime(bkd.BoardID)') Submit
                    tr
                        td  Mục tiêu ngày: {{ bkd.MTNgay }}
                            span.mr-2
                            input(type='number', :id="'MTNgay' + bkd.BoardID")
                        td
                            button(v-on:click='submitMTNgay(bkd.BoardID)') Submit
    script.
        var socket = io()
        var app = new Vue({
            el: '#app',
            data: {
                bkds: [{MThientai: 0, SLThucte: 0}]
            },

            methods: {
                submitCycleTime: function (boardID) {
                    let elemCycleTime = $('#CycleTime' + boardID)
                    let cycleTimeValue = elemCycleTime.val()

                    if (parseInt(cycleTimeValue)) {
                        let ok = confirm('Đồng ý cập nhật cycle time với giá trị ' + cycleTimeValue + '?')

                        if (ok) {
                            socket.emit('update bkd', {BoardID: boardID, CycleTime: cycleTimeValue})
                        }
                    }
                    elemCycleTime.val('')
                },
                submitMTNgay: function (boardID) {
                    let elemMTNgay = $('#MTNgay' + boardID)
                    let mtNgayValue = elemMTNgay.val()

                    if (parseInt(mtNgayValue)) {
                        let ok = confirm('Đồng ý cập nhật mục tiêu ngày với giá trị ' + mtNgayValue + '?')

                        if (ok) {
                            socket.emit('update bkd', {BoardID: boardID, MTNgay: mtNgayValue})
                        }
                    }
                    elemMTNgay.val('')
                },
                deleteBKD: function (BoardID) {
                    if (confirm('Đồng ý xóa bảng này?')) {
                        socket.emit('delete bkd', BoardID)
                    }
                },

                displayChenhLech: function (hienTai, thucTe) {
                    return Math.round((parseInt(thucTe) * 100) / parseInt(hienTai))
                },

                displayHieuSuat: function (thucTe, mtNgay) {
                    return Math.round((parseInt(thucTe) * 100) / parseInt(mtNgay))
                }
            }
        })

        socket.on('connect', function () {
            console.log('connected')
            socket.emit('get bkds')
        })

        socket.on('disconnect', function () {
            console.log('disconnected')
        })

        socket.on('set bkds', function (data) {
            console.log(data)
            app.bkds = data.bkds
        })

        socket.on('bkds updated', function () {
            socket.emit('get bkds')
        })