extends layout

block content
    div#app.row
        div(v-for="bkd in bkds").col-lg-5.col-xs-12
            div.board-container
                div.text-right
                    span(v-on:click='deleteBKD(bkd.BoardID)').board-delete
                h1.board-heading PRODUCTION CONTROLLER
                table.board-table-heading
                    tr
                        td DATE
                            span.value  {{ moment().format('D/M/Y') }}
                        td.text-right LINE
                            span.value  {{ bkd.BoardID }}
                table.board
                    tr
                        td KẾ HOẠCH SẢN XUẤT <br> <strong>TARGET</strong>
                        td
                            div.value-container
                                span.value {{ bkd.MThientai }}
                                span  Pcs
                    tr
                        td SẢN LƯỢNG HIỆN TẠI <br> <strong>ACTUAL</strong>
                        td
                            div.value-container
                                span.value {{ bkd.SLThucte }}
                                span  Pcs
                    tr
                        td CHÊNH LỆCH <br> <strong>BALANCE</strong>
                        td
                            div.value-container
                                span.value {{ displayChenhLech(bkd.MThientai, bkd.SLThucte) }}
                                span  Pcs
                    tr
                        td HIỆU SUẤT (%) <br> <strong>PERFORMANCE</strong>
                        td
                            div.value-container
                                span.value {{ displayHieuSuat(bkd.MThientai, bkd.SLThucte) }}
                                span &nbsp;&nbsp;&nbsp;%

    script.
        var socket = io()
        var app = new Vue({
            el: '#app',
            data: {
                bkds: [{MThientai: 0, SLThucte: 0}]
            },

            methods: {
                submitCycleTime: function (boardID) {
                    let elemCycleTime = $('#CycleTime' + boardID)
                    let cycleTimeValue = elemCycleTime.val()

                    if (parseInt(cycleTimeValue)) {
                        let ok = confirm('Đồng ý cập nhật cycle time với giá trị ' + cycleTimeValue + '?')

                        if (ok) {
                            socket.emit('update bkd', {BoardID: boardID, CycleTime: cycleTimeValue})
                        }
                    }
                    elemCycleTime.val('')
                },
                submitMTNgay: function (boardID) {
                    let elemMTNgay = $('#MTNgay' + boardID)
                    let mtNgayValue = elemMTNgay.val()

                    if (parseInt(mtNgayValue)) {
                        let ok = confirm('Đồng ý cập nhật mục tiêu ngày với giá trị ' + mtNgayValue + '?')

                        if (ok) {
                            socket.emit('update bkd', {BoardID: boardID, MTNgay: mtNgayValue})
                        }
                    }
                    elemMTNgay.val('')
                },
                submitSLThucte: function (boardID) {
                    let elem = $('#SLThucte' + boardID)
                    let value = elem.val()

                    if (parseInt(value)) {
                        let ok = confirm('Đồng ý cập nhật sản lượng TT với giá trị ' + value + '?')

                        if (ok) {
                            socket.emit('update bkd', {BoardID: boardID, SLThucte: value})
                            socket.emit('update SLThucte', {BoardID: boardID, SLThucte: value})
                        }
                    }
                    elem.val('')
                },
                submitMThientai: function (boardID) {
                    let elem = $('#MThientai' + boardID)
                    let value = elem.val()

                    if (parseInt(value)) {
                        let ok = confirm('Đồng ý cập nhật mục tiêu HT với giá trị ' + value + '?')

                        if (ok) {
                            socket.emit('update bkd', {BoardID: boardID, MThientai: value})
                            socket.emit('update MThientai', {BoardID: boardID, MThientai: value})
                        }
                    }
                    elem.val('')
                },

                deleteBKD: function (BoardID) {
                    if (confirm('Đồng ý xóa bảng này?')) {
                        socket.emit('delete bkd', BoardID)
                    }
                },

                displayChenhLech: function (hienTai, thucTe) {
                    return hienTai - thucTe
                },

                displayHieuSuat: function (hienTai, thucTe) {
                    return Math.round((parseInt(thucTe) * 100) / parseInt(hienTai))
                }
            }
        })

        socket.on('connect', function () {
            console.log('connected')
            socket.emit('get bkds')
        })

        socket.on('disconnect', function () {
            console.log('disconnected')
        })

        socket.on('set bkds', function (data) {
            console.log(data)
            app.bkds = data.bkds
        })

        socket.on('bkds updated', function () {
            socket.emit('get bkds')
        })