doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    div#wrapper
      div.row
        div.col-2#sidebar
          ul#navbar
            li
              a(href='/') Bảng khắc dấu
            li
              a(href='/boards') Bảng con
            li
              a(href='/setting') Cấu hình ca
        div.col-10#content
          block content
