doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.min.css')
  body
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/moment-with-locales.js"></script>
    <script src="/javascripts/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.vi.min.js"></script>
    div#wrapper
      div.row
        div.col-2#sidebar
          ul#navbar
            li Real time
              ul
                li
                  a(href='/') Bảng thông tin sản lượng
            li History
              ul
                li
                  a(href='/history') Xuất dữ liệu BTTSL
        div.col-10#content
          block content
    footer
        p version 1.0.0 - last source code update 2021-12-22 11:00