body
  font: 14px Helvetica, Arial, sans-serif

#app
  padding: 20px

#sidebar
  background: #343a40

#content
  background: #d0d0d0

#navbar
  margin-top: 20px
  list-style: none
  padding: 0
  color: white

#navbar li a
  width: 100%
  padding: 5px
  display: block
  overflow: hidden
  color: #ccc
  text-transform: uppercase

.board-container
  padding: 15px
  background: #1f1b17
  border-radius: 10px

.board
  color: white
  font-weight: bold
  width: 100%

.board td
  border: 1px solid white
  padding: 10px
  font-size: 20px

.board .value
  color: #db251d

input
  &[type="number"]
    width: 100px

#bkd-setting
  td
    text-align: right
  input
    &[type="number"]
      width: 70px

.board-delete
  &:before
    content: 'x'
  &:hover
    cursor: pointer
  display: block
  color: red

.bcon
  td, th
    border: 1px solid black
    text-align: center
    background: white
    padding: 5px
  th
    font-weight: bold
  .yellow
    background: #ffffbc
  margin-bottom: 10px

.lamp-color
  span
    display: block
    width: 20px
    height: 20px
    border-radius: 50%
    border: 1px solid #cccccc
    margin: 0 auto

.lamp-color0
  span
    background: green

.lamp-color1
  span
    background: yellow

.lamp-color2
  span
    background: red

.lamp-color3
  span
    background: black