body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

#sidebar
  background: #343a40
  height: 100vh

#navbar
  margin-top: 20px
  list-style: none
  padding: 0

#navbar li a
  width: 100%
  padding: 5px
  display: block
  overflow: hidden
  color: #ccc

